.app-header {
  width: 100%;
  padding: 5px 0;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-style {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 5px 10px;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 900px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  padding: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background-color: #444;
  min-width: 150px;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;

  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  display: block;
  padding: 8px 12px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #555;
}

/* Prevent blue/purple default link colors */
.dropdown-link:visited,
.dropdown-link:active,
.dropdown-link:focus {
  color: white;
}
